@font-face {
    font-family: "AK11SennStudio";
    src: url("fonts/AK11Senn.Studio-Medium.woff2") format("woff2"),
        url("fonts/AK11Senn.Studio-Medium.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --min-fsize: 15;
    --max-fsize: 30;
    --int-fsize: calc(var(--min-fsize) * 1px + (var(--max-fsize) - var(--min-fsize)) * ((100vw - 375px) / (1200 - 375)));
    --spacer: .75rem;
    --half-spacer: calc(var(--spacer) / 2);
    --light: rgba(255, 255, 255, 1);
    --medium: rgba(0, 0, 0, .6);
    --dark: rgba(0, 0, 0, 1);
    --highlight: rgba(0, 255, 0, 1);
}

html {
    font-size: calc(var(--min-fsize) * 1px);
}

@media screen and (min-width: 375px) {
    html {
        font-size: var(--int-fsize);
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: calc(var(--max-fsize) * 1px);
    }
}

a,
a:link,
a:visited {
    color: currentColor;
    text-decoration: none;
    opacity: .66;
    border-bottom: calc(1rem / 9) solid transparent;
}

a:hover,
a:active {
    opacity: 1;
    border-bottom: calc(1rem / 9) solid var(--highlight);
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'AK11SennStudio', Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: .03em;
    word-spacing: -.09em;
    color: var(--dark);
    overflow: hidden;
}

#p5-container {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

canvas {
    vertical-align: bottom;
}

#theDisc {
    position: fixed;
    z-index: 99;
    top: var(--spacer);
    left: var(--spacer);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--dark);
    cursor: pointer;
    filter: blur(var(--spacer);
}

#theDisc:hover {
    background-color: var(--highlight);
    filter: blur(0);
}

#main {
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateX(50vw);
    transition: all .5s ease-in-out;
}

.info-active main {
    transform: translateX(0);
}

.address,
.info {
    padding: var(--spacer);
}

.info {
    line-height: 1.2;
}

ul {
    margin-bottom: var(--spacer);
}

ul> :first-child {
    padding-bottom: var(--half-spacer);
}


.address {}

.info {}




/**/